*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}
header{
    padding: 30px;
    margin: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(232, 233, 233, 0.795), rgba(12, 73, 70, 0.836)),url(mtb_web/headerbg.jpg); 
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position-y: 550px;
    color: rgb(7, 91, 105);
    height: auto;
    width: 950px;
    display: inline-block;
    border: 10px solid rgba(5, 33, 49, 0.925);
    border-radius: 30px;
    position: fixed;
    z-index: 9999;
}
h1{
    font-size: 4em;
    border: 1px solid rgb(208, 221, 220);
    border-radius: 10px;
    border-style: solid none;
    padding: 0px;
}
nav{
    position: relative;
    top: 180px;
    margin: 10px;
    padding: 0;
    border: 5px solid rgb(87, 91, 100);
    border-radius: 5px;
    width: 700px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0px;
    background-color: rgb(70, 119, 104);
}
nav a{
    padding: 5px;
    color: rgb(232, 243, 238);
    text-decoration: none;
    display: block;
}
nav a:hover{
    text-decoration: underline;
    color: rgb(150, 134, 129);
}
.pics{
    padding: 10px;
    margin: 10px;
    position:relative;
    margin-top: 20px;
    top: 180px;
    border: 1px solid rgb(8, 89, 104);
    border-radius: 10px;
    width: 700px;
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
}
.caption p{
    padding-top: 10px;
}
.caption{
    color: rgb(18, 6, 20);
}
.bikes img{
    border: 3px solid rgba(187, 170, 116, 0.815);
    border-radius: 10px;
    width: 200px;
}
.pics{
    background-image:linear-gradient(to top, rgba(37, 197, 197, 0.418), rgba(204, 228, 227, 0.795)), url(mtb_web/bgimg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.sidebars{
    padding: 10px;
    margin: 10px;
    position: absolute;
    left: 720px;
    top: 170px;
    display: inline-flex;
    width: 230px;
    height: 700px;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.sidebars img{
    width: 100px;
}
#shimano{
    background-color: rgb(238, 230, 205);
    border: 3px solid rgb(71, 94, 94);
    border-radius: 5px;
}
#sram{
    background-color: rgb(202, 172, 147);
    border: 3px solid rgb(31, 49, 63);
    border-radius: 5px;
}
#uci{
    background-color: rgb(200, 216, 164);
    border: 3px solid rgb(54, 156, 143);
    border-radius: 5px;
}
#uci h3{
    padding-bottom: 10px;
}
.shop img{
    width: 300px;
    border-radius: 10px;
}
.shop{
    position: relative;
    top: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0px;
    border: 1px solid rgb(9, 82, 45);
    width: 700px;
    height: 300px;
    border-radius: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 32%, rgba(95,153,164,1) 77%);
}
#details button{
    padding: 0px;
    margin-top: 10px;
    margin-left: 130px;
    border-radius: 5px;
    background-color: rgb(218, 221, 194);
}
footer{
    position: relative;
    top: 220px;
    padding: 15px;
    border: 5px solid rgb(63, 68, 83);
    background: rgb(153,191,191);
    background: linear-gradient(90deg, rgba(153,191,191,1) 18%, rgba(10,29,32,1) 64%); 
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
h5{
    color: rgb(212, 236, 236);
}
footer button{
    color: rgb(218, 235, 227);
    background-color: rgb(19, 31, 31);
}
body{
    background: rgb(82,72,88);
    background: linear-gradient(90deg, rgba(82,72,88,1) 6%, 
    rgba(82,72,88,1) 7%, rgba(29,253,152,0.4267241379310345) 50%, 
    rgba(87,68,41,1) 100%); 
}